body
{
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.icon
{
    height: 5vh;
    width: 5vh;
    padding: 0;
}

.container_sidebar
{
    display: flex;
    padding: 1vh 0 1vh 0.9vh;
    background: #1bb1b1;
    height: 7vh;
    width: calc(100% - 1vh);
    align-items: center;
    cursor: pointer;
    border: 0.1vh solid #1bb1b1;
}

.container_sidebar.expanded
{
    display: flex;
    width: calc(100% - 1vh);
}

.container_sidebar.selected
{
    background: #FFFFFF;
    border: 0.1vh solid #127373;
    .text_main
    {
        color: #1bb1b1;
    }
}

.item:hover
{
    background: #FFFFFF;
}

.sidebar
{
    overflow: hidden;
    display: flex;
    height: 100vh;
    background: #1bb1b1;
    z-index: 9999;
    position: fixed;
    transition: width 0.1s ease-in-out;
    width: 7vh;
    font-family: Arial, sans-serif;
}

#items_main
{
    transition: width 0.1s ease-in-out;
}

#items_main:hover
{
    transition: width 0.1s ease-in-out;
}

.items
{
    list-style-type: none;
    justify-self: left;
    width: 100%;
    margin-top: 0;
    transition: width 0.1s ease-in-out;
    line-height: 500%;
    padding-left: 0;
}

.text_main
{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    justify-self: right;
    margin-Left: 1vh;
    line-height: 100%;
}

.text_main.selected
{
    color: #1bb1b1;
}

.text_main.hidden
{
    visibility: hidden;
    width: 100%;
}

.text_main.visible
{
    visibility: visible;
    width: 100%;
}

body
{
    margin: 0;
}

.sub_menu
{
    padding-top: 1vh;
    .text_main
    {
        font-size: 0.8rem;
    }
    .container_sidebar
    {
        height: 5vh;
    }
    .items
    {
        line-height: 200%;
    }
}

.song_menu
{
    padding-top: 1vh;
    margin: 0;
    .text_main
    {
        font-size: 0.8rem;
        justify-self: center;
    }
    .container_sidebar
    {
        height: 5vh;
    }
    .items
    {
        line-height: 150%;
    }
    overflow-y: scroll;
    scrollbar-width: none;
}

.textDuration
{
    margin: 0;
    font-size: 2vh;
    line-height: 100%;
}

.imageWrapper
{
    position: relative;
    height: 5vh;
    width: 5vh;
    display: flex;
    flex-direction: column;
}

.overlayImage
{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 75%;
    top: 0;
    left: 0;
}

#player
{
    position: relative;
    background-image: url("../img/recordplayer_background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#record_player
{
    background-color: #2f64d5;
    width: 75vh;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.81vh;
    box-shadow: 0 1.81vh 0 0 #2745be;
    overflow: visible;
}

#record_player::before
{
    content: "";
    background-color: #AAA;
    width: 1vh;
    height: 1vh;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 20vh solid #000;
}

#btn_play_record_player
{
    height: 8vh;
    width: 8vh;
    background: #2f64d5;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 85%;
    border: 0.5vh solid #2745be;
    cursor: pointer;
}

#btn_play_record_player:hover
{
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.4vh 1.2vh;
    transform: translate(-50%, -51%);
}

#btn_play_record_player:active
{
    transform: translate(-50%, -47%);
}

#slider_volume
{
    -webkit-appearance: none;
    appearance: none;
    transform: rotate(-90deg) translate(-50%, -50%);
    width: 40%;
    height: 0.7vh;
    position: absolute;
    left: 65.25%;
    top: 5%;
    background-color: #2f64d5;
    outline: none;
    border-radius: 0.3vh;
    border: 0.6vh solid #2745be;
}

#slider_volume::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 1vh;
    height: 2.5vh;
    background-color: #FFFFFF;
    cursor: pointer;
}

.record
{
    transform: translate(-50%,-50%);
    transform-origin: top left;
    background-color: transparent;
    height: 1.5vh;
    width: 1.5vh;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 23.25vh solid #000;
}

.record:before
{
    height: 40vh;
    width: 40vh;
}

.record:after
{
    height: 24vh;
    width: 24vh;
}

.record:before, .record:after
{
    position: absolute;
    content: "";
    border: 0.5vh solid transparent;
    border-top-color: #2c2424;
    border-bottom-color: #2c2424;
    border-radius: 50%;
}

.label
{
    border-radius: 50%;
    height: 36vh;
    width: 36vh;
    background-size: cover;
    background-position: center;
    background-image: url("../img/bmth/post_human_nex_gen.png");
    overflow: hidden;
    z-index: 105;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    mask: radial-gradient(circle, transparent 1vh, black 1.1vh);
}

.container_record
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    padding-left: 2.5vh;
}

#tone_arm
{
    height: 25vh;
    width: 1vh;
    background-color: #FFF;
    position: absolute;
    top: 5vh;
    right: 20vh;
    transition-duration: 0.5s;
    transition-property: transform;
    transform-origin: top;
    z-index: 150;
}

#tone_arm::before
{
    content: "";
    height: 11vh;
    width: 1vh;
    background-color: #FFF;
    position: absolute;
    transform: rotate(30deg);
    top: 24vh;
    right: 2.6vh;
}

#tone_arm::after
{
    content: "";
    position: absolute;
    height: 0;
    width: 2vh;
    border-top: 4vh solid #b2aea6;
    border-left: 0.4vh solid transparent;
    border-right: 0.4vh solid transparent;
    transform: rotate(30deg);
    top: 33vh;
    right: 5vh;
}

.settings
{
    position: absolute;
    bottom: 0;
}

.settingsWindow
{
    height: 45vh;
    width: 60vh;
    background-color: #FFF;
    position: absolute;
    z-index: 1000;
    top: 30vh;
    left: calc(50vw - 30vh);
    border-radius: 1.5vh;
}

.settingsWindowHeader
{
    content: "";
    display: block;
    height: 5vh;
    width: 100%;
    background-color: #1AE1D0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-top-right-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
}

.settingsClose
{
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
    width: 1vh;
    height: 5vh;
    background-color: #119388;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1001;
}

.cancelContainer
{
    transform-origin: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 5vh;
    width: 5vh;
    top: 0;
    right: 0;
    z-index: 1002;
    cursor: pointer;
}

.repeatModeContainer
{
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    align-items: center;
}

select
{
    height: 2vh;
}

#control
{
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: #2C2C2C;
    border-radius: 50%;
    border: 1vh solid #181312;
    top: -2.5vh;
    left: -3vh;
}

#footer
{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 7.5vh;
    width: calc(100vw - 7vh);
    transition-duration: 0.1s;
}

#progressInfo
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background-color: #FFF;
    height: 4vh;
    width: 100%;
    transition-duration: 0.1s;
    align-items: center;
    justify-items: center;
}

#textCurrentTime
{
    justify-self: end;
    position: absolute;
    right: 1vh;
    grid-column: 1/2;
}

#audioProgress
{
    grid-column: 2/3;
    width: 100%;
}

#textTotalTime
{
    justify-self: start;
    position: absolute;
    left: 1vh;
    grid-column: 3/4;
}

.textTime
{
    font-size: 2em;
}

#marqueeSongName
{
    margin-top: 0.5vh;
    height: 3vh;
    --gap: 2.5vh;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    position: relative;
}

#marqueeArtist
{
    height: 3vh;
    --gap: 2.5vh;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    position: relative;
}

.marqueeContent
{
    list-style-type: none;
    flex-shrink: 0;
    justify-content: space-around;
    gap: var(--gap);
    padding: 0;
    margin-top: 0.5vh;
}

.paused
{
    animation: none;
}

.invisible
{
    visibility: hidden;
}

:root
{
    --scroll-duration: 10s;
}

.animated
{
    animation: scroll var(--scroll-duration) linear infinite;
    display: flex;
}

#image
{
    margin: 1vh;
}

#controls
{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 7vh;
    width: 100%;
    justify-items: center;
    align-items: center;
}

@keyframes scroll
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

#info_controls
{
    display: grid;
    transform: translate(-50%, 0);
    background-color: #FFF;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    grid-template-columns: 7vh 50% calc(50% - 7vh);
    height: 7vh;
    width: 60%;
    position: absolute;
    bottom: 4vh;
    left: 50%;
}

.iconBtn
{
    height: 3vh;
    width: 3vh;
}

.iconBtn:hover
{
    height: 3.5vh;
    width: 3.5vh;
}

.clicked
{
    transform: translate(0, 10%);
}

@keyframes flyIn
{
    from
    {
        z-index: 200;
        transform: translate(75vw, 0) scale(1.1);
    }
    80%
    {
        z-index: 200;
        transform: translate(0, 0) scale(1.1);
    }
    to
    {
        z-index: 100;
        transform: scale(1) translate(0, 0);
    }
}

@keyframes flyOut
{
    from
    {
        transform: scale(1) translate(0, 0);
    }
    20%
    {
        transform: scale(1.1) translate(0, 0);
    }
    to
    {
        transform: scale(1.1) translateX(-75vw) translateY(0);
    }
}
